.case {
	&-teaser {
		&__link {
			position: relative;
			display: block;
			text-decoration: none;
			color: inherit;

			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
			}
		}
		&__content {
			padding: 15px 0;
		}
		&__title {
			
		}
		&__minutes_read {
			&,
			.field {
				display: inline-block;
			}
			&:before {
				content: '|';
				display: inline-block;
				padding-right: 4px;
			}
		}
		&__date {
			display: inline-block;
		}
		&__image {
			overflow: hidden;
			
			img {
				transition: transform .3s ease;

				a:hover & {
					transform: scale(1.05);
				}
			}
		}
	}
	&-full {
		&__image {
			margin-bottom: 15px;
		}
		&__intro {
			margin-bottom: 15px;
			font-weight: bold;
		}
		&__categories {
			margin-bottom: 30px;

			a,
			span {
				display: inline-block;
			}
		}
		&__paragraphs {
			.paragraph--background-white:first-child {
				padding-top: 0;
			}
			.paragraph:last-child:not(.paragraph--background-white) {
				margin-bottom: 30px;
			}
		}
	}
}

.view {
	&-id-cases {
		&.view-display-id-block_overview_teaser,
		&.view-display-id-block_overview_snippet_vertical {
			.view-content {
				display: flex;
				margin: -30px -15px 0;
				flex-wrap: wrap;
				align-items: stretch;
				align-content: stretch;
				min-width: 100%;
			}
			.views-row {
				padding: 0 15px;
				margin-top: 30px;
				display: flex;
				align-items: stretch;
				align-content: stretch;
				width: 100%;

				@media only screen and (min-width: 640px) {
					width: 50%;
				}
			}
		}
		&.view-display-id-block_overview_snippet_horizontal {
			.view-content {
				display: flex;
				margin: -30px -15px 0;
				flex-wrap: wrap;
				align-items: stretch;
				align-content: stretch;
				min-width: 100%;
			}
			.views-row {
				padding: 0 15px;
				margin-top: 30px;
				display: flex;
				align-items: stretch;
				align-content: stretch;
				width: 100%;
			}
		}
	}
}